@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@font-face {
	font-family: mochiypopEP;
	src: url(font/MochiyPop-E-P.ttf) format("truetype");
	 }
* {
	padding : 0px ;
	margin: 0px;
}
h1.title a {
font-family: mochiypop;
 text-decoration: none;
 margin: 0.25% ;
 color:white;
 text-shadow:1px 1px 2px white;
}
div.top {
	position: fixed;
	z-index: 1;
	width:100%; height:auto;
	background-color :rgb(67,67,67);
}

div.top-sub a {
	text-decoration: none;
	margin: 0.25% ;
	background-color :skyblue;
	color :white;
	transition: background-color 0.2s;
	text-shadow:1px 1px 2px black;
}
div.top-sub a:hover {
	text-decoration: none;
	margin: 0.25% ;
	background-color :#00a9ef;
	color :white;
	transition: background-color 0.5s;
	text-shadow:1px 1px 2px black;
}
<!--text css-->
span,p,pre,h1,h2,h3,h4,h5,h6{
 font-family: 'Noto Sans JP', sans-serif;
 color:rgb(67,67,67);
}
a {
	font-family: 'Noto Sans JP', sans-serif;
	color:rgb(67,67,67);
	transition: color 0.2s;
}
a:hover {
	font-family: 'Noto Sans JP', sans-serif;
	color:rgb(47,47,255);
	transition: color 0.5s;
}
img {
	width: 100%;
	height:100%;
}
<!---->
div.page {
	padding: 0.1em;
	box-shadow:0px 0px 5px;
    border:1px solid black;
	position:relative;
	top:50%;
	width:99%;
	height:100%;
	text-align: left;
}
div.page * {
	margin: 0.5%;
	margin-top: 0%;
	margin-bottom: 0%;
}
pre.code {
	font-size:1.3em;
background-color:rgb(67,67,67);
margin:1em;
margin-left:1em; 
width:auto;
height: auto;
max-height: 15em;
color:white;
overflow: scroll;
}
button {
	outline:0;
	border-radius: 0.1em;
	background-color:white;
	border-style:solid;
	border-color:black;
	border-size:0.1vh;
	transform:translateY(-0.4vh);
	box-shadow: 0vh 0.2vh 0.3vh black;
	color:black;
	font-weight: bold;
	padding: 0.5% 0.3%;
	transition: transform 0.5s;
	transition: border-radius 0.2s;
}
button:hover {
	outline:0;
	background-color:white;
	border-radius: 1em;
	border-style:inset;
	border-color:black;
	border-size:0.1vh;
	transform:translateY(-0.2vh);
	transform:translateY(-0vh);
	box-shadow: 0vh 0.2vh 0.3vh black;
	color:black;
	font-weight: bold;
	padding: 0.5% 0.3%;
	transition: transform 0.5s;
	transition: border-radius 0.2s;
}
button:active {
	outline:0;
	background-color:white;
	border-radius: 2.5em;
	border-style:inset;
	border-color:black;
	border-width:0.1px;
	transform:translateY(-0.2vh);
	transform:translateY(-0vh);
	box-shadow: 0vh 0.2vh 1px black;
	color:black;
	font-weight: lighter;
	padding: 0.5% 0.3%;
	transition: box-shadow 0.5s;
	transition: border-width 0.3s;
	transition: border-radius 0.2s;
}
/**/
    }
