@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
* {
	padding:0.05em;
	margin:0.05em;
}
html,body {
	overflow-x:hidden;
	padding:0;
	margin:0;
	height: 100%;
}
.bg {
	  background-color:	#008080;
}
#start {
	display: none;
}
div.hide {
	display:none;
	height:0;
	opacity:0;
}
input#start:checked ~ div.hide {
	position:fixed;
	bottom:2.2em;
	left:0;
	height:auto;
	opacity:1;
	letter-spacing:0em;
	text-align:center;
	display: inline-block;
	background-color:lightgrey;
	border-style:outset;
	border-color:white;
	border-width:0.1em;
	cursor:auto;
	height:30%;
}
.home:before {
	content: '';/*何も入れない*/
	display: inline-block;/*忘れずに！*/
	width:1.25em;/*画像の幅*/
	height:1.25em;/*画像の高さ*/
	background-image: url("icon.png");
	background-size: contain;
	vertical-align: middle;
}
.gh:before {
	content: '';/*何も入れない*/
	display: inline-block;/*忘れずに！*/
	width:1.25em;/*画像の幅*/
	height:1.25em;/*画像の高さ*/
	background-image: url("img/github.png");
	background-size: contain;
	vertical-align: middle;
}
.tw:before {
	content: '';/*何も入れない*/
	display: inline-block;/*忘れずに！*/
	width:1.25em;/*画像の幅*/
	height:1.25em;/*画像の高さ*/
	background-image: url("img/twitter.png");
	background-size: contain;
	vertical-align: middle;
}
#clock {
	position:fixed;
	letter-spacing:0em;
	right:0;
	text-align:center;
	display: inline-block;
	background-color:lightgrey;
	border-style:inset;
	border-color:white;
	border-width:0.1em;
	width:auto;
	height:auto;
}
ul li {
		letter-spacing:-2em;
		list-style-type:none;
		display: inline-block;
		padding: 0px !important;
		margin: 0px !important;
}
.sp {
	position:fixed;
	letter-spacing:0em;
	right:;
	text-align:center;
	display: inline-block;
	background-color:lightgrey;
	border-style:outset;
	border-color:white;
	border-width:0.1em;
	width:0.05em;
	height:auto;
}
.sbutton {
	color:rgb(67,67,67);
	background-color:lightgrey;
}
.sbutton:hover {
	color:white;
	background-color:blue;
}
.start {
		letter-spacing:0em;
	text-align:center;
	background-color:lightgrey;
	border-style:outset;
	border-color:white;
	border-width:0.1em;
	width:auto;
	height:auto;
}
.start:hover {
	/*背景*/
	border-style:inset;
	cursor:pointer;
}
.button {
	/*背景*/
	letter-spacing:0em;
	text-align:center;
	display: inline-block;
	background-color:lightgrey;
	border-style:outset;
	border-color:white;
	border-width:0.1em;
	width:auto;
	height:auto;
}
.button:hover {
	/*背景*/
	border-style:inset;
	cursor:pointer;
}
.footer {
	position:fixed;
	left:0;
	bottom:0;
	margin: 0em;
	padding: 0em;
	width:100%;
	height:2.2em;
		border-style:outset;
	border-color:white;
	border-width:0.1em;
	border-left:0;
	border-right:0;
	border-bottom:0;
	background-color:lightgrey;
}
<!--text css-->
span,p,pre,h1,h2,h3,h4,h5,h6{
 font-family: 'Noto Sans JP', sans-serif;
 color:rgb(67,67,67);
}
a {
	font-family: 'Noto Sans JP', sans-serif;
	color:rgb(67,67,67);
	text-decoration: none;
	transition: color 0.2s;
}
a._hv:hover {
	font-family: 'Noto Sans JP', sans-serif;
	color:rgb(47,47,255);
	transition: color 0.5s;
}
img {
	width: 100%;
	height:100%;
}
pre.code {
	font-size:1.3em;
background-color:rgb(67,67,67);
margin:1em;
margin-left:1em; 
width:auto;
height: auto;
max-height: 15em;
color:white;
overflow: scroll;
}
/**/
/*右クリ*/
div.window {
	position: relative;
  	text-align:left;
	letter-spacing:0em;
	background-color:lightgrey;
	border-style:outset;
	border-color:white;
	border-width:0.1em;
	width:30%;
	height:35%;
  }
div.wmain {
	margin-top:0.25em;
  	text-align:left;
	letter-spacing:0em;
	background-color:white;
	border-style:inset;
	border-color:white;
	border-width:0.1em;
	width:;
	height:;
}
p.title {
background: linear-gradient(225deg,lightskyblue,dodgerblue);
width:auto;
color:white;
}
.blue {
	display:inline-block;
	position:relative;
	left:0;
	bottom:0;
	background-color:blue;
	height:100%;
	width:1.5em;
	writing-mode:sideways-lr;
	color:white;
}
.start_content {
	position:relative;
	display:inline-block;
	top:-1rem;
	right:0rem;

}
input[type=button] {
  	text-align:center;
	letter-spacing:0em;
	background-color:lightgray;
	border-style:outset;
	border-color:white;
	border-width:0.1rem;
}
input[type=text] {
  	text-align:left;
	letter-spacing:0em;
	background-color:white;
	border-style:inset;
	border-color:white;
	border-width:0.1rem;
}
input[disabled=disabled] {
	background-color:lightgray;
	color:gray;
	text-shadow:1px 1px white;
}
input[type=button]:active {
	outline:none;
	border-style:inset;
}
input {outline:none;}