@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@font-face {
	font-family: mochiypopEP;
	src: url(font/MochiyPop-E-P.ttf) format("truetype");
}
* {
	padding : 0px ;
	margin: 0px;
}
body {
		font-family: mochiypopEP;
}
h1.title a {
	font-family: mochiypop;
 text-decoration: none;
 margin: 0.25% ;
 color:white;
 text-shadow:1px 1px 2px white;
}
div.top {
	position: fixed;
	z-index: 2;
	width:100%; height:auto;
	background-color :rgb(67,67,67);
}
div.top-sub a {
	text-decoration: none;
	margin: 0.25% ;
	background-color :skyblue;
	color :white;
	text-shadow:1px 1px 2px black;
}
<!--text css-->
span,p,h1,h2,h3,h4,h5,h6{
 font-family: 'Noto Sans JP', sans-serif;
 color:rgb(67,67,67);
}
 a {
 	font-family: 'Noto Sans JP', sans-serif;
	color:rgb(67,67,67);
	transition: color 0.2s;
}
a:hover {
	font-family: 'Noto Sans JP', sans-serif;
	color:rgb(47,47,255);
	transition: color 0.5s;
}
img {
	width: 100%;
	height:100%;
}
<!---->
div.page {
	padding: 1em;
	box-shadow:0px 0px 5px;
    border:1px solid black;
	position:relative;
	top:21vmin;
	width:99%;
	height:100%;
	text-align: left;
}
div.page * {
	margin: 0.5%;
	margin-top: 0%;
	margin-bottom: 0%;
}
 pre.code {
	font-size:1.3em;
background-color:rgb(67,67,67);
margin:1em;
margin-left:1em; 
width:auto;
height: auto;
max-height: 15em;
color:white;
overflow: scroll;
}
 pre.aa {
 	font-family: 
 }
button {
	background-color:rgb(177,177,177);
	border-style:none;
	box-shadow: 0px 2px 3px black;
	color:black;
	font-weight: bold;
	padding: 0.5% 0.3%;
}
button:hover {
	background-color:rgb(177,177,177);
	border-style:none;
	box-shadow: 0px 0px 0px black;
	transform: translateY(-2);
	color:black;
	font-weight: bold;
	padding: 0.5% 0.3%;
}