{% include banner.html %}
<span>めにゅ～</span>
<ul>
  <li><a href="/index.html">TOP</a></li>
  <li><a href="/bbs.html">BBS</a></li>
  <li><a href="/bbs.html">BBS</a></li>
</ul>
<span>記事検索</span>
<form class="menu_form" method="get" action="/search.html">
  <input style="width: 100%;" type="search" list="slist" name="q"><input style="width: 3rem;" type="submit" value="送信">
  <datalist id="slist">
    {% for post in site.posts %}
    <option value="{{post.title}}">
    {% endfor %}
  </datalist>
</form>
<span>What's New</span>
<div class="menu_whats_new">
{% capture my_include %}{% include whatsnew.md %}{% endcapture %}
{{ my_include | markdownify }}
</div>
<span>記事</span>
<ul>
  {% for post in site.posts %}
    <li><a href="{{site.url}}{{post.url}}">{{post.title}}</a></li>
  {% endfor %}
</ul>