<!DOCTYPE html>
<html lang="{{site.lang}}">
<head>
  <meta charset='utf-8'>
  <title>{{site.name}}</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="shortcut icon" href="/img/icon.png">
  <link rel="apple-touth-icon" href="/img/icon.png">

  <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
  <link rel='stylesheet' type='text/css' media='screen' href='/css/syntax.css'>
  <script src='/main.js'></script>

  <!-- OGP -->
  <meta property="og:url" content="{{site.url}}{{page.url}}" />
  <meta property="og:title" content="{{page.title}}" />
  {{ page.HTMLhead }}
</head>
<body>
  <div id="side_menu">
    {% include menu.html %}
  </div>
  <div id="main">
    <div class="title_wrap">
      <div class="title">
        <h1 style="font-family: serif;">ようこそ！{{page.welcome_title}}へ！</h1>
      </div>
    </div>
    <ul class="menu">
      <li>今は<span id="time"></span>です</li>
    </ul>
    {% include head.html %}
    <script>time()</script>
    <div class="content">
      <div style="display: flex;">
        {{page.date}}
      </div>
      <h1 style="width: 100%;text-align: center;">
        {{page.title}}
      </h1>
      {{content}}
    </div>
  </div>
</body>
</html>