body {
  height: 100vh;
  margin: 0;

  font-family: 'ＭＳ ゴシック', monospace;
  background: navy;
}

.center {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.site-container {
  display: flex;
  height: 100%;

  overflow: hidden;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  padding: 0.5rem 1rem;

  overflow: auto;

  border-right: lightgray ridge 8px;
  background: rgb(131, 187, 178);
}

.sidebar-menu {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 0;
  padding: 0.5rem 0 1.5rem;

  list-style: none;

  gap: 0.5rem;
}

.site-content {
  flex: 1;
  height: 100%;

  color: yellow;

  display: flex;
  flex-direction: column;

  overflow: auto;
}

.welcome-header {
  border: 1rem solid red;
  border-width: 1rem 0;
  background: black;

  color: cyan;
  font-family: "ＭＳ 明朝", sans-serif;
  font-style: italic;
}

main {
  padding: 0.5rem;
  margin: 0.5rem;

  border: 1rem double lime;
}

main > div {
  height: 100%;
  margin-bottom: 3rem;
}

main a {
  color: cyan;

  &:visited {
    color: cyan;
  }

  &:hover {
    color: yellow;
  }
}

pre > code {
  overflow: auto;
  display: block;
  padding: 0.5rem;
}

main {
  & h1, h2, h3 {
    padding-bottom: 0.125rem;
    border-bottom: solid 1px yellow;
  }
}

table {
  border: solid 1px lime;

  & td, th {
    border: solid 1px lime;
    padding: 0.25rem;
  }
}

footer {
  padding: 0.5rem;
  margin: 0.5rem;

  border: 1rem double magenta;
}

@keyframes marquee {
  0% {
    position: relative;
    left: -50%;
  }

  100% {
    position: relative;
    left: 150%;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  49.99% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
